.Weather {
    width: 50%;
    height: 50%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    box-sizing: border-box;
    border: 5px solid #456;
    color: white;

    padding: 35px;
}

.Wrapper {
    margin-top: 30px;
    height: 60%;
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
}

.IconTempWrapper {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /*border: 1px solid green;*/
}

.StatWrapper {
    width: 40%;
    height: 100%;
    /* border: 1px solid blue;*/
}

h4 {
    position: fixed;
    bottom: 0;
    right: 0;
}
