@import url('https://fonts.googleapis.com/css?family=Poppins');


.Location {
    margin-top: 1px;
    padding: 0;
    border: 1px solid blue;

}

.Location h2,
h3 {
    margin: 0 0;
    color: #8a8a5c;
    font-family: "Poppins";
}

.Location .Condition:first-letter {
    text-transform: capitalize;
}
