.Temperature {
    color: black;
    width: 45%;
    position: relative;
    border: 1px solid orange;
    font-size: 4em;
}

.Temperature p {
    margin-top: 0;
}

.Switch {
    position: absolute;
    top: 5%;
    right: 25%;


}

span {
    font-size: 0.3em;
    vertical-align: top;
    margin: 0 1px;

}

.activeColor {
    color: blue;
}

#celcius,
#fahrenheit {
    cursor: pointer;
}
